<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Gurobi70.NET" publicKeyToken="21e2c4b1860157bc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Gurobi60.NET" publicKeyToken="21e2c4b1860157bc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.5.0" newVersion="6.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ILOG.CPLEX" publicKeyToken="7906592bc7cc7340" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.7.0.0" newVersion="12.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="xprbdn" publicKeyToken="611860093f9c0b93" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.8.0" newVersion="4.8.8.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ILOG.Concert" publicKeyToken="7906592bc7cc7340" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.7.0.0" newVersion="12.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Gurobi50.NET" publicKeyToken="21e2c4b1860157bc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.2.0" newVersion="5.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Gurobi65.NET" publicKeyToken="21e2c4b1860157bc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.5.2.0" newVersion="6.5.2.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="xprsdn" publicKeyToken="3cf9c2b7bca9d99d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-29.1.0.0" newVersion="29.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Gurobi56.NET" publicKeyToken="21e2c4b1860157bc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>